form input {
    margin: 0.5em 0;
    font-size: 1.4em;
    background-color: white;
    width: 300px;
}

form button {
    font-size: 1.2em;
    padding: 0.5em;
    background-color: cornflowerblue;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

.errors {
    border: 1px solid darkred;
    background-color: lightcoral;
    max-width: 300px;
    padding: .5em;
}

.hidden {
    display: none;
}